
<br/>
<br/>
<br/>

<div id="leyend" class="col-xs-6 col-sm-3" style="position:absolute; right:0px; text-align: right; top: 120px;" >
  <p>
    <div><em>ctrl+m</em> : <span style="color:#aaa"> [m]</span></div>
    <div><em>ctrl+l</em> : <span style="color:#aaa"> [f]</span></div>
    <div><em>ctrl+c</em> : <span style="color:#aaa">\contact</span></div>
    <div><em>ctrl+j</em> : <span style="color:#aaa">\mp</span></div>
    <div><em>ctrl+u</em> : <span style="color:#aaa">\noise:unintelligeble</span></div>
    <div><em>ctrl+i</em> : <span style="color:#aaa">&lt;intruder&gt;</span></div>
    <div><em>ctrl+w</em> : <span style="color:#aaa">[bad wave]</span></div>
    <div><em>ctrl+,</em> : <span style="color:#aaa">\comma\</span></div>
    <div><em>ctrl+.</em> : <span style="color:#aaa">\period\</span></div>
  </p>
</div>
<div class="row">
  <div class="col-md-12">
    <% (1..(pages+1)).each do |npage| %>
      <% if npage != page %>
        <span>
          <a href="<%= "/?page=#{npage}" %>" class="btn btn-xs btn-default">
            <%= npage %>
          </a>
        </span>
      <% else %>
        <span>
          <a href="<%= "/?page=#{npage}" %>" class="btn btn-xs btn-success">
            <%= npage %>
          </a>
        </span>
      <% end %>
    <% end %>
  </div>
</div>
<hr/>

<div class="row">
  <% files.each_with_index do |file, index| %>
      <% if file.match /\.wav$/ %>
    <div class="col-md-5 audio" style="margin-bottom:3px">
      <audio style="width:47px; display:block; float: left ;" tabindex="0" controls >
        <source src="<%= file.gsub(/^public/, "") %>" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
            <% color = (File.exists?(file.gsub("audio/", "output/") + ".txt")) ? "green" : "black" %>
      <% size = (File.exists?(file.gsub("audio/", "output/") + ".txt")) ? 2 : 1 %>
      <textarea tabindex="<%= index + 1 %>" cols="50" rows="1" id="<%= file + ".txt"%>" style="float: left ; margin-left: 5px; border: <%= size %>px solid <%= color %>;"><%= ( (text = File.open(file + ".txt").read.to_s.strip) != "" ) ? text : "[bad wave] ??" %></textarea>
    </div>
      <% end %>
  <% end %>
</div>

<hr/>

<div class="row" style="text-align:center;">
  <p>
    <% if total == 0 %>
      <a href="/files" class="btn btn-xs btn-success"> Download </a>
    <% else %>
      <a href="/save" class="btn btn-lg btn-success" id="save_all">Save</a>
    <% end %>
  </p>
</div>

<script type="text/javascript">
    $("div.audio textarea").keypress(function(event) {
      if (event.ctrlKey && (event.which != 63234 || event.which != 63235) ){

        var text = (function() {
          switch (event.which) {
            case 12: //f
              return " [f]";
            case 13: //m
              return " [m]";
            case 3: //c
              return "\\contact ";
            case 10: // j
              return "\\mp ";
            case 21: //u
              return "\\noise:unintelligeble ";
            case 9: // i
              return "<intruder1>";
            case 23: // w
              return "[bad wave]";
            case 44: // , comma
              return "\\comma\\";
            case 46: // . period
              return "\\period\\";
            default:
              return "";
          }
        })();
        $(this).insertAtCursor(text);
        return false;
      }
      return true;
    });
    $("div.audio textarea").focusin(function(event){
      $(this).parents("div.audio").find("audio")[0].play()
    })
    $("div.audio textarea").focusout(function(event){
      var id = $(this).attr("id");
      var value = $(this).val()
      $.ajax({
        type: "POST",
        data:{ id: id, value: value },
        url: "/update"
      })
    })

    $("#save_all").click(function(event){
      event.preventDefault()
      var files = $.map( $("div.audio textarea"), function(val, index){
         return val.id ;
      } )
      $.ajax({
        type: "POST",
        data:{ files: files},
        url: "/save",
        success: function(response){
          location.reload(true);
        }
      })
    });

</script>

